<main class="mt-5">
    <container>
        <div class="card mx-auto w-50">
            <div class="card-header text-center">
                <img class="card-img-top mx-auto m-2" src="/img/nodejs.jpg" alt="" style="width:230px; height:150px; display:">
                <h3 class="text-uppecase text-center p-4">Crud con node</h3>
            </div>
            <div class="card-body text-center">
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam tenetur, voluptatem suscipit corrupti laudantium harum sequi tempora ipsum laborum. Beatae dolorem distinctio fugit quam velit obcaecati labore perferendis minus quibusdam?
                </p>
                <a href="/add" class="btn btn-primary">Crear persona</a>
            </div>
        </div>
    </container>
</main>